:root {
  --txtcolor: #fff;
  --rawrgreen: #009688;
  --rawrblu: #039be5;
  --bgcolor: #00517c;
  --subtxt: #8bc24a;
  --grycolor: #cfd8dc;
}

html {
  font-family: 'Roboto', sans-serif;
  max-width: 1020px;
  /* background-color: #fff; */
}

body {
  background-color: var(--bgcolor);
  line-height: 1.1;
  margin: 10px;
  max-height: 1020px;
  color: var(--grycolor);
}
.title {
  color: var(--subtxt);
}
nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-a {
  float: right;
}

nav a {
  display: block;
  color: white;

  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: var(--rawrblu);
}

.active {
  background-color: var(--subtxt);
}
.about-me {
  display: flex;
}
#aboutme {
  font-size: 1.75em;
  margin-right: 20px;
}
.about {
  width: 30%;
  height: 40%;
  text-align: right;
  border-right: 8px solid var(--grycolor);
}
.bellapic {
  border-radius: 5px 20px 5px;
  border: 8px solid var(--grycolor);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bellatalk {
  width: 60%;
  height: 40%;
  margin-left: 20px;
  font-size: 1.5rem;
}

#mywork {
  width: 30%;
  padding-right: 20px;
  font-size: 1.75em;
  text-align: right;
  border-right: 8px solid var(--grycolor);
}
.projects {
  width: 60%;
  height: 60%;
  flex-wrap: wrap;
}

.projects article {
  position: relative;
  border: 5px solid var(--subtxt);
  margin-left: 20px;
  margin: 20px 0px 0px 20px;
}

/* label */
h2 {
  position: absolute;
  top: 33%;
  left: 5px;
  /* font-size: 18px; */
  background-color: var(--rawrgreen);
  padding: 5px;
}

article.img {
  width: 30%;
  height: auto;
  opacity: 0.3;
}
small {
  font-weight: lighter;
}
.myname {
  font-weight: lighter;
  text-align: center;
}

.contact {
  font-size: 1.5rem;
  text-align: center;
}

.contact a {
  padding-left: 1em;
}

/* ICONS */
.fab,
.far {
  color: var(--rawrblu);
}

.work,
.projects {
  display: flex;
}
